{% extends 'layout.html' %}

{% block content %}
  <h2>Movies</h2>
  {% for movie in movies %}
    <div>
      <h3><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.name }}</a></h3>
      <p>Director: {{ movie.director }}</p>
      <p>Release Date: {{ movie.release_date }}</p>
      <p>Total Time: {{ movie.total_time_minutes }} minutes</p>
      {% if movie.poster %}
        <img src="{{ movie.poster.url }}" alt="{{ movie.name }} Poster" style="max-width: 200px; max-height: 200px;">
      {% endif %}
      <!-- Add other fields as needed -->
    </div>
    <hr>
  {% endfor %}
  <p><a href="{% url 'movie_create' %}">Add a new movie</a></p>
{% endblock %}
