{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block content-header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Cinema</title>
</head>
<body>
    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit eius aut beatae rerum, nemo veritatis corporis fugiat fuga officiis dolor eos aperiam tempore possimus, deserunt, vitae corrupti eaque aspernatur cumque?</h2>
    
</body>
</html>
{% endblock %}

{% block content %}

{% endblock %}
{% block externaljs %}
{% endblock %}